<%= form_for(@exercice_dynamique) do |f| %>
  <% if @exercice_dynamique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercice_dynamique.errors.count, "error") %> prohibited this exercice_dynamique from being saved:</h2>

      <ul>
      <% @exercice_dynamique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercice_id %><br />
    <%= f.number_field :exercice_id %>
  </div>
  <div class="field">
    <%= f.label :dynamique_id %><br />
    <%= f.number_field :dynamique_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
