<%= form_for(@dynamique) do |f| %>
  <% if @dynamique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dynamique.errors.count, "error") %> prohibited this dynamique from being saved:</h2>

      <ul>
      <% @dynamique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bac %><br />
    <%= f.check_box :bac %>
  </div>
  <div class="field">
    <%= f.label :correction %><br />
    <%= f.check_box :correction %>
  </div>
  <div class="field">
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
