<p id="notice"><%= notice %></p>

<p>
  <b>Bac:</b>
  <%= @dynamique.bac %>
</p>

<p>
  <b>Correction:</b>
  <%= @dynamique.correction %>
</p>

<p>
  <b>Titre:</b>
  <%= @dynamique.titre %>
</p>


<%= link_to 'Edit', edit_dynamique_path(@dynamique) %> |
<%= link_to 'Back', dynamiques_path %>
