<%= form_for(@statique) do |f| %>
  <% if @statique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statique.errors.count, "error") %> prohibited this statique from being saved:</h2>

      <ul>
      <% @statique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bac %><br />
    <%= f.check_box :bac %>
  </div>
  <div class="field">
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
