<h1>Listing statiques</h1>

<table>
  <tr>
    <th>Bac</th>
    <th>Titre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statiques.each do |statique| %>
  <tr>
    <td><%= statique.bac %></td>
    <td><%= statique.titre %></td>
    <td><%= link_to 'Show', statique %></td>
    <td><%= link_to 'Edit', edit_statique_path(statique) %></td>
    <td><%= link_to 'Destroy', statique, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statique', new_statique_path %>
