<p id="notice"><%= notice %></p>

<p>
  <b>Bac:</b>
  <%= @statique.bac %>
</p>

<p>
  <b>Titre:</b>
  <%= @statique.titre %>
</p>


<%= link_to 'Edit', edit_statique_path(@statique) %> |
<%= link_to 'Back', statiques_path %>
