<p id="notice"><%= notice %></p>

<p>
  <b>Bac:</b>
  <%= @exercice.bac %>
</p>

<p>
  <b>Millesime:</b>
  <%= @exercice.millesime %>
</p>

<p>
  <b>Theme:</b>
  <%= @exercice.theme %>
</p>

<p>
  <b>Contenu:</b>
  <%= raw hesc @exercice.contenu %>
</p>
<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Flocalhost%3A3000%2Fpdf%2Ftemp.pdf&embedded=true" width="600" height="780" style="border: none;"></iframe><%= link_to 'Edit', edit_exercice_path(@exercice) %> |
<%= link_to 'Back', exercices_path %>
