<!DOCTYPE html>
<html>
<head>
  <title>Ludo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>
<h3><a href="/admin">Administration des composants</a></h3>
</body>
</html>
